<h3>Empleados</h3>
<div class="container">
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Numero identificación</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Depéndencia</th>
                        <th>Fecha Ingreso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados" class="text-center">
                        <th>{{empleado.numeroIdentificacion}}</th>
                        <th>{{empleado.nombres}}</th>
                        <th>{{empleado.apellidos}}</th>
                        <th>{{empleado.dependencia}}</th>
                        <th>{{empleado.fechaIngreso}}</th>
                        <td>
                            <button (click)="navigateToEdit(empleado)" class="btn btn-info">Editar</button>
                        </td>
                    </tr>
                    
                </tbody>

            </table>
        </div>
</div>
