
<div class="container">
  
  <div>
    <button (click)="personas()" class="btn btn-info align-items: center">Ver personas</button>
    &nbsp;&nbsp;
    <button (click)="nuevaPersona()" class="btn btn-info">Nueva persona</button>  
    &nbsp;&nbsp;
    <button (click)="empleados()" class="btn btn-info">Ver empleados</button>
    &nbsp;&nbsp;
    <button (click)="nuevoEmpleado()" class="btn btn-info">Nuevo empleado</button>
    &nbsp;&nbsp;
    <button (click)="tramites()" class="btn btn-info">Ver Trámites</button>
    &nbsp;&nbsp;
    <button (click)="nuevoTramite()" class="btn btn-info">Crear trámite</button>
    &nbsp;&nbsp;
    <button (click)="usuarios()" class="btn btn-info">Ver USUARIOS (API)</button>
  
  </div>
    
  <router-outlet></router-outlet>

</div>