<h3>Registrar Empleado</h3>
<div class="container col-md-6">
    <div class="card">
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="identificacion">Número identificación</label>
                    <input #numeroIdentificacion type="number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input #nombres type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input #apellidos type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="depedencia">Dependencia</label>
                    <input #depedencia type="text" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="fechaIngreso">Fecha Ingreso</label>
                    <input #fechaIngreso type="date" class="form-control"required>
                </div>

                <button (click)="save(numeroIdentificacion.valueAsNumber,
                                        nombres.value,
                                        apellidos.value,
                                        depedencia.value,
                                        fechaIngreso.value)" class="btn btn-info">Guardar</button>
                
            </form>
        </div>
    </div>
</div>
